/* Hide message of data sucessfully added to agile CRM
-------------------------------------------------------------- */
#wcap_salesforce_message, #wcap_salesforce_message_error{
	display: none;
}
#wcap_salesforce_security_token_label_error, #wcap_salesforce_password_label_error, #wcap_salesforce_user_name_label_error{
	display:none; 
	color:red;
}

#wcap_salesforce_user_name, #wcap_salesforce_security_token{
	width: 18em;
}

#wcap_salesforce_test_connection_ajax_loader{
	display: none;
}

#wcap_manual_email_data_loading_text{
	display: none;
	position: absolute;
	top: 7%;
	left: 34%;
	z-index: 99999;
	width: auto;
	color: white;
}